<!DOCTYPE html>
<html ng-app="Avocado">
	<head>
	</head>

	<body>
		<h1 class="title">The Avocado El Dorado</h1>
		<!--
		<div ng-controller="GalleryController as galleryCtrl">
			<li ng-repeat="art in galleryCtrl.artwork">
				<a href=""><img src="{{art.thumb}}"</img></a>
			</li>
		</div>
		-->
		<div class="container" ng-controller="GalleryController as galleryCtrl">
			<div ng-repeat="art in galleryCtrl.artwork">
	  			<!-- <div class="item"> -->
	  			<div class="item" ng-class="art.layout === 'landscape' ? 'w2' : ''">
	  				<a href=""><img src="{{art.thumb}}"</img></a>
	  			</div>
	  		</div>
		</div>
	</body>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="jquery-2.1.4.min.js"></script>
	<script type-"text/javascript" src="packery.pkgd.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="test.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css" />
</html>