* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body { 
  font-family: sans-serif; 
  width: 90%;
  text-align: center;
}

.packery {
}

.packery:after {
  content: ' ';
  display: block;
  clear: both;
}

.item {
  width: 160px;
  height: 160px;
  float: left;
  border-width: 1px;
  border-color: red;
}

.item:hover {
  border-color: white;
  cursor: pointer;
}

.item.w2 {
  width: 320px;
  background: #9C0;
}

.item.h2 {
  height: 320px;
  background: #0C9;
}

.item.w4 {
  width: 640px;
  background: #90C;
}

.item.h4 {
  height: 640px;
  background: #C90;
}