* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body { 
  font-family: sans-serif; 
  width: 100%;
  text-align: center;
}

.packery {
}

.packery:after {
  content: ' ';
  display: block;
  clear: both;
}

.item {
  width: 160px;
  height: 160px;
  float: left;
}

.item:hover {
  border-color: white;
  cursor: pointer;
}

.item.width2 {
  width: 320px;
}

.item.height2 {
  height: 320px;
}

.item.width4 {
  width: 640px;
}

.item.height4 {
  height: 640px;
}